body {
    margin: 0px;
    padding: 0px;
  }

.top{
  width: 100%;
  height: 20%;
  background-color: lightcoral;
  background-image: url(./123.jpg);
  background-attachment: fixed;
  background-size: 100% 70%;
  background-repeat: no-repeat;
  
}

.heading{
  text-align: center;
  font-family: arial;
}

.img{
  width: 30%;
  display: block;
  margin: 0px auto;
}

.mid{
  background-color: lawngreen;
  width: max-content;
}

.midp{
  padding-top: 4%;
}